<div class="container">

	<h1>New Company Group</h1>
	
	<%= render 'form' %>
	
	<% user = User.where( { :token_id => session[:token_id] } ).first %>	
	<%= link_to 'Back', edit_user_registration_path(user), :class => "btn btn-info"  %>
	  
</div>