<div class="container">

	<h1>Editing Master Group</h1>
	
	<%= render 'form' %>
	
	<%= link_to 'Show', @master_group, :class => "btn btn-success"    %> |
	<%= link_to 'Back', master_groups_path, :class => "btn btn-info"    %>
</div>
