
    <div class="well" ng-if="anadir === 1">
      <h3>Add New Ticket</h3>
      <form name="form" ng-submit="addTicket()" novalidate>
        <div class="row">
          <div class="col-xs-2">
          	
			<div class="form-group has-feedback" ng-class="{
			'has-error': form.ticketname.$invalid && form.ticketname.$dirty,
			'has-success': form.ticketname.$valid && form.ticketname.$touched,
			}">        
          	
	          	<label class="sr-only" for="ticketname">Ticketname</label>
	            <input type="text" name="name" ng-model="newTicket.name" 
	               required #newTicket="ngModel" pattern="\d*" 
	            class="form-control" placeholder="Ticket #" />

	            <p class="help-block" ng-if="form.name.$error">
	               <span ng-if="form.name.$error.required">Ticket # is Required</span>
	               <span ng-if="form.name.$error.pattern">Must be Digits</span>
	            </p>
	            
	        	</div>    
          </div>
          <div class="col-xs-2">
            <input type="text" ng-model="newTicket.subname" 
              required name="subname"
            class="form-control" placeholder="Line Item" />
          </div>
          <div class="col-xs-1">
            <input type="text" 
              required pattern="\d*" name="width"
            ng-model="newTicket.width" class="form-control" placeholder="Width" />
          </div>
          <div class="col-xs-1">
            <input type="text" 
             required pattern="\d*" name="height"
            ng-model="newTicket.height" class="form-control" placeholder="Height" />
          </div>         
          <div class="col-xs-1">
            <input type="text" 
             required pattern="\d*" name="qty"
            ng-model="newTicket.qty" class="form-control" placeholder="Qty" />
          </div> 
          <div class="col-xs-1">
          	<label class="sr-only" for="single">Single</label>
            <input type="checkbox" ng-model="newTicket.single" class="form-control" placeholder="Single" />
          </div> 
          <div class="col-xs-1">            
          	<label class="sr-only" for="double">Double</label>
            <input type="checkbox"  class="form-control"
                   ng-model="newTicket.double" placeholder="Double" />
          </div>           
        </div>
        <div class="row">
          <div class="col-xs-3">
            <br />
            <input type="text" 
             required  name="location"
            ng-model="newTicket.location" class="form-control" placeholder="Location" />
          </div>   
          <div class="col-xs-3">
          	<br />
            <input type="text" 
             required  name="material"
            ng-model="newTicket.material" class="form-control" placeholder="Material" />
          </div> 
        </div>                 
        <div class="row">
          <div class="col-xs-9">
            <br />
            <input type="text" 
             required  name="description"
            ng-model="newTicket.description" class="form-control" placeholder="Description" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-9 text-center">
            <br />
            
			<button type="Submit" form="form" value="submit" 
			ng-disabled="form.$invalid" || "form.$pristine"
			class="btn btn-primary">
			Add ticket
            </button>
          </div>
        </div>
      </form>
    </div>


  