<article class="show-ticket">

	<div class="container">
		
		<p>
		  <strong>Name:</strong>
		   {{show.ticket.name}}
		</p>
	
		<p>
		  <strong>Subname:</strong>
		    {{show.ticket.subname}}
		</p>
		
		<p>
		  <strong>Description:</strong>
		    {{show.ticket.description}}
		</p>
		
		<p>
		  <strong>Width:</strong>
		    {{show.ticket.width }}
		</p>
		
		<p>
		  <strong>Height:</strong>
		   {{show.ticket.height }}   
		</p>
		
		<p>
		  <strong>Qty:</strong>
		    {{show.ticket.qty }} 
		</p>
		
		<p>
		  <strong>Single:</strong>
		   {{show.ticket.single }} 
		</p>
		
		<p>
		  <strong>Double:</strong>
		    {{show.ticket.double }} 
		</p>
		
		
		<p>
		  <strong>Location:</strong>
		    {{show.ticket.location_id }} 
		</p>
	
		<p>
		  <strong>Material:</strong>
	
		   {{show.ticket.local_material_id }} 
		</p>
		
		<p>
		  <strong>Printer:</strong>
		    {{show.ticket.local_equipment_id }} 
		</p>
	    <a class="btn btn-info" ng-click="backtotickets(0)">Back</a>	
	</div>


	     
</article>

 
 

