<div class="perras">

	<h3> Showing Ticket</h3>
	
	<article class="show-ticket">
	
		<div class="container">
			
			<p>
			  <strong>Name:</strong>
			   {{TicketCtrl.ticket.name}}
			</p>
		
			<p>
			  <strong>Subname:</strong>
			    {{TicketCtrl.ticket.subname}}
			</p>
			
			<p>
			  <strong>Description:</strong>
			    {{TicketCtrl.ticket.description}}
			</p>
			
			<p>
			  <strong>Width:</strong>
			    {{TicketCtrl.ticket.width }}
			</p>
			
			<p>
			  <strong>Height:</strong>
			   {{TicketCtrl.ticket.height }}   
			</p>
			
			<p>
			  <strong>Qty:</strong>
			    {{TicketCtrl.ticket.qty }} 
			</p>
			
			<p>
			  <strong>Single:</strong>
			   {{TicketCtrl.ticket.single }} 
			</p>
			
			<p>
			  <strong>Double:</strong>
			    {{TicketCtrl.ticket.double }} 
			</p>
				
			<p>
			  <strong>Location:</strong>
			    {{TicketCtrl.ticket.location_id }} 
			</p>
		
			<p>
			  <strong>Material:</strong>
		
			   {{TicketCtrl.ticket.local_material_id }} 
			</p>
			
			<p>
			  <strong>Printer:</strong>
			    {{TicketCtrl.ticket.local_equipment_id }} 
			</p>
		    <a class="btn btn-info" ng-click="backtotickets()">Back</a>	
		</div>
		     
	</article>

</div>
 

