body {

    width:        90%;

  table tbody tr td {
    padding-left: 10px;
  }
  
  table thead tr th {
    padding-left: 10px;
  }
  
  .actions {
    margin-top:  10px;
    padding-top: 10px;  
  }
  
  .fields {
    margin: 10px;
  }
  
  div select {
    color: #272b30;
  }

  tbody tr {    
    margin-top: 30px;
  }
  
  a .navbar-brand {
    font: bold smaller sans-serif;
  }

}
